
@keyframes fadeInAnimation {
          0% {
              opacity: 0;
          }
          100% {
              opacity: 1;
          }
}

body{
  background: url(background.jpg);
  /* background-color: rgb(122, 27, 27); */
  background-size: cover;
  display: flex;
  overflow: scroll;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  transition: all .35s;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

  

.parent { 
  display: grid; 
  grid-template-columns: repeat(6, 1fr); 
  grid-template-rows: repeat(6, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 

  overflow: scroll;
  }
  .div1 {
    overflow: auto;
    grid-area: 1 / 1 / 2 / 7; 
  } 
  .div2 { 
    overflow: auto;

    padding-left: 20px;
    grid-area: 1 / 1 / 2 / 2; 
  } 
  .div3 { 
    overflow: auto;

    padding-top: 20px;
    grid-area: 1 / 3 / 2 / 5; } 
  .div4 { 
    border-style: solid;
    background-color: rgba(255, 254, 240, 0.075);
    border-color: white;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    grid-area: 3 / 1 / 6 / 3; 
    overflow: auto;

  } 
  .div5 {
    border-style: solid;
    background-color: rgba(255, 254, 240, 0.075);
    border-color: white;
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    overflow: auto;

    grid-area: 3 / 3 / 6 / 5; } 
  .div6 { 
    /* display: block; */
    margin-right: 20px;
    margin-left: 20px;
    padding-top: 20px;
    overflow: auto;
    grid-area: 2 / 1 / 3 / 3; 
  } 
  .div7 { 
    /* display: block; */
   
    margin-right: 20px;
    margin-left: 20px;
    overflow: auto;

    padding-top: 20px;grid-area: 2 / 3 / 3 / 5; 
  } 
  .div8 { 
    text-align: center;
    overflow: auto;

    padding-top: 20px;grid-area: 6 / 1 / 7 / 3; 
  } 
  .div9 {
    text-align: center;
    overflow: auto;

    padding-top: 20px; grid-area: 6 / 3 / 7 / 5; 
  } 
  .div10 {
    text-align: center;
    overflow: auto;

    font-size: large;
    font-weight: bolder;
    padding-top: 20px;grid-area: 2 / 5 / 3 / 7; 
  } 
  .div11 { 
    text-align: center;
    padding-top: 20px;
    overflow: auto;

    grid-area: 3 / 5 / 6 / 7; 
  } 
  .div12 { 
    place-items: center;
    text-align: center;
    display: block;
    overflow: auto;

    grid-area: 6 / 5 / 7 / 7; 
  } 

  .form {
    background: transparent;
    border-color: white;
    color: white;
    /* display: block; */
    margin: 1rem;
    padding: .5rem;
    transition: 250ms ease-in;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: fit-content;
    height: fit-content;
  }

  .form:focus {
    background: rgba(255, 255, 255, 0.322);
    color: white;
    transition: 250ms ease-in;
  }
  

  .button {
    /* border: 1px solid black; */
    border-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: transparent;
    color: white;
    margin: 1rem auto;
    min-width: 1px;
    padding: 0.25rem;
    transition: 250ms  ease-in;
    font-size: large;
    font-weight: bolder;
    width: 90px;
    height: 40px;
  }

  .button:hover {
    color: black;
    background-color: white;
    transition: 250ms  ease-in;
  }

/* 
.leavebutton {
    border: 1px solid black;
    border-color: black;
    font-family: sans-serif;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: 0.25rem;
    transition: 250ms  ease-in;
    /* position: absolute;
      top: 10px;
right: 10px;} */
  
  .leavebutton:hover {
    color: black;
    background-color: white;
    transition: 250ms  ease-in;
  }

  .sendbutton {
    /* border: 1px solid black; */
    border-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: 0.25rem;
    transition: 250ms  ease-in;
    width: 90px;
    height: 40px;
    font-weight: bolder;
    font-size: large;
  }
  
.sendbutton:hover {
  color: black;
  background-color: white;
    transition: 250ms  ease-in;
}


.textarea{
    font-family: monospace;
    overflow: scroll;
    pointer-events: none;
    border-color: white;
    border-width: 5px;
    border-style: solid;
    background-color: transparent;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding-top: 10px;
    padding-left: 10px;
}

/* .chatdiv{
  display: grid;
  padding-left: 70px;
  padding-right: 70px;
  border: blanchedalmond;
} */

.error {
  color:white;
  padding-bottom: 20px;
  padding-top: 20px;
  padding-left: 20px;
  position:relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
  color: white;
}

h1{
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  color: white;
}

.scorelabel{
  color:white;
  font-size: large;
  font-weight: bolder;
}

#playerAscore{
  color: white;
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  border: none;
  border-color: transparent;
}

#playerBscore{
  color: white;
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  border: none;
  border-color: transparent;
}


#playerAstatus{
  color: white;
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  border: none;
  border-color: transparent;
}


#playerBstatus{
  color: white;
  background-color: transparent;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  border: none;
  border-color: transparent;
}


@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

.newimg {
	animation: append-animate .3s linear;
}