@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

body {
  background: url(background.jpg);
  background-size: cover;
    display: flex;
    overflow: scroll;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    transition: all .35s;


    animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  }
  
  .container{
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  
  .photodiv{
    text-align: center;
  }
  
  .form {
    background: transparent;
    border-color: white;
    color: white;
    display: block;
    margin: 1rem;
    padding: .5rem;
    transition: 250ms ease-in;
  }
  
  .form:focus {
    background: white;
    color: black;
    transition: 250ms ease-in;
  }

  .button {
    /* border: 1px solid black; */
    border-color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: transparent;
    color: white;
    display: block;
    margin: 1rem auto;
    min-width: 1px;
    padding: 0.25rem;
    transition: 250ms  ease-in;
  }
  
  .button:hover, .button:focus {
    color: black;
    background-color: white;
    transition: 250ms  ease-in;
  }
  
  a{
      display: block;
      width: 70px; 
      height: 40px; 
      line-height: 40px;
      font-size: 20px;
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-decoration: none;
      color: white;
      border: 2px solid white;
      letter-spacing: 2px;
      text-align: center;
      transition: all .35s;
      position: absolute;
      top: 10px;
      right: 10px;
    }
    
    a span{
      position: relative;
      z-index: 2;
    }
    
  a:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgba(255, 255, 255, 0.377);
    transition: all .35s;
  }
  
  a:hover{
    color: white;
  }
  
  a:hover:after{
    width: 100%;
  }
  
  a:active{
      color: grey;
      background-color: rgba(128, 128, 128, 0.685);
  }
  
  .error {
    color:white;
    padding-bottom: 20px;
    padding-top: 20px;
    padding-left: 20px;
    position:absolute;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  ::placeholder {
    color: white;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }


  table, th, td {
    border: 2px solid white;
    border-collapse: collapse;
    color:white
    }
    th, td {
      border: 2px solid white;
    padding: 10px;
    text-align: center;
    color:white
    }
    .tableheader{
        text-align: center;
        color:white
    }
  

li{
  list-style-type: none;
   color: white;
  margin: 0;
  padding: 0;
}