<!DOCTYPE html>
<html lang="en">
   <head>
      <link rel="stylesheet" href="static/chess.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <!-- <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script> -->
      <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
      <script type="text/javascript" >
         function leave(){
              //Check if user wants to really leave the room or not.
                  if (confirm("Are you sure? If you are with another person in the room already, your bet will be automatically granted to the other person!")){
                     socket.emit('left', {}, function() {
                         window.location.href = "{{ url_for('login') }}";
                         socket.disconnect();
                 });
                  } else{
                      //stay on the same page and do nothing...
                  }
               }
      </script>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
   <body>

      <div class="parent"> 
         <div class="div1">
           
         </div> 
         <div class="div2">
            <button  class = "button" type = "button" id = "leave" onclick="leave()"><span>Leave</span></button>
         </div> 
         <div class="div3">
            <h1>GAME ROOM {{session['room']}}</h1>
         </div> 
         <div class="div4" id = "div4"> 
            <!-- CARDS -->
         </div> 
         <div class="div5"id = "div5">
            <!-- CARDS -->
         </div> 
         <div class="div6"> 
            <label class = "scorelabel" for="playerAscore">Player 1 Score: </label>
            <input type="text" id="playerAscore" value="0"  readonly>
            <br>
            <label class = "scorelabel"  for="playerAstatus">Status: </label>
            <input type="text" id="playerAstatus" value="" readonly>
         </div> 
         <div class="div7">
            <label class = "scorelabel"  for="playerBscore">Player 2 Score: </label>
            <input type="text" id="playerBscore" value="0" readonly>
            <br>
            <label class = "scorelabel"  for="playerBstatus">Status: </label>
            <input type="text" id="playerBstatus" value="" readonly>
         </div> 
         <div class="div8">
            <button class = "button" type="button" id="hit" class="btn btn-success">Hit</button>
         </div> 
         <div class="div9">
            <button class = "button" type="button" id="stay" class="btn btn-success">Stay</button>
         </div> 
         <div class="div10"> 
            <p>Live Chat</p>
            <p>Room ID: {{session['room']}}</p>
            <P>Username: {{session['username']}}</P>
         </div> 
         <div class="div11">
            <textarea class = "textarea" style="overflow:auto;resize:none" id="chat" cols="50" rows="30" placeholder="No messages yet. Start one..."></textarea>
         </div> 
         <div class="div12">
            <input class = "form" type="text" id="text" size = "30" placeholder="Enter your message here.">
            <button class = "sendbutton" type="button" id="send" class="btn btn-success">Send</button>
         </div> 
         </div>

      <script src="../static/chess.js" async defer></script>
   </body>
   {% with messages = get_flashed_messages(with_categories=true) %}
   {% for category, message in messages %}
     <div class="{{ category }}">{{ message }}</div>
   {% endfor %}
 {% endwith %}
</html>