<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="static/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
    <body>
        <!-- <div class = "photodiv">
            <img src="/static/logo.png">
            </div> -->
            
        <div class = "container">
            

            <a href="{{url_for('login')}}" ><span>Log In</span></a>
            <br></br>
            <a href="{{url_for('register')}}"><span>Register</span></a>

        </div>

    </body> 
    {% with messages = get_flashed_messages(with_categories=true) %}
          {% for category, message in messages %}
            <div class="{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endwith %}
</html>